language: python
jobs:
  include:
    - python: 3.6
      dist: precise 
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-4.9
      env:
         - MATRIX_EVAL="CC=gcc-4.9 && CXX=g++-4.9"

    - python: 3.6
      dist: trusty

    - python: 3.7
      dist: xenial

    - python: 3.8
      dist: bionic

    - python: 3.7
      dist: bionic
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-8
      env:
        - MATRIX_EVAL="CC=gcc-8 && CXX=g++-8"


before_install:
    - eval "${MATRIX_EVAL}"
    - cd dmtcp && ./configure && cd .. 
    - make -C dmtcp/ -j 2
    - pip install -r requirements.txt
    - pip install -r test-requirements.txt

install:
    - python ./setup.py install

script:
    - pytest -vv -s
